# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# vscode
.vscode/*

# native libraries
*.so
*.dll
*.dylib
wasm-interpreter/target/*

# gradle
build
.gradle

# other
eclipse
run
